@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Oops!</h1>
    <h2 class="error">Something unexpected happened while processing your request.</h2>
</hgroup>
